
@{
    ViewBag.Title = "DatHangThanhCong";
    Layout = "~/Views/Shared/_LayoutSP.cshtml";
}
<div class="container">
    <h5 style="color:red; text-align:center;" >Đặt hàng thành công , hàng đang được chuyển đến nơi quý khách...</h5>
</div>


